@import '../styles/utils/mixins';
@import '../styles/utils/variables';

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;


    ul {
        display: flex;
        gap: 57px;
        @include nav
    }

    li {


        list-style-type: none;
        color: $black-color;
    }



    img {
        width: 210.32px;
        height: 68px;
        //color: $primary-color;


    }

    a {
        //border-bottom: 2px solid $white-color;
        text-decoration: none;
    }

    a.active {
        text-decoration: underline;
        color:  $black-color;


    }

}