@import '../styles/utils/variables';

.infoapartment-container {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    @media (max-width: 900px){
        flex-direction: column;
    }


    .infoapartment-content {
        display: flex;
        flex-direction: column;
        margin: 0;

        h1 {
            color: $primary-color;
            margin: 0;
            font-size: 36px;
            font-weight: 500;
            line-height: 51.34px;
            text-align: left;


        }

        p {
            color: $black-color;
            font-size: 18px;
            font-weight: 500;
            line-height: 25.67px;
            text-align: left;
            margin: 0;

        }

        .tag-container {
            display: flex;
            list-style-type: none;
            text-align: center;
            gap: 10px;
            margin-top: 20px;
            padding: 0;
            @media (max-width: 900px){
                flex-direction: column;
            }


            li {
                padding: 0px 40px;

                height: 25px;
                border-radius: 10px;
                background-color: $primary-color;
                color: $white-color;

                font-size: 14px;
                font-weight: 700;
                line-height: 23.96px;

            }
        }

    }
    article{
        display: flex;
    
        margin: 0;
        padding: 0;
        gap: 10px;

        h2{
            color: $primary-color;
            
font-size: 18px;
font-weight: 500;
line-height: 25.67px;
text-align: right;

        }
        img{
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }

    }
    .star-container{
        display: flex;
        justify-content: flex-end;
    .star{
        width: 36px;
        margin-top: 25px;

    }
}
}