@import '../styles/utils/variables';
.values-container{
    display: flex;
    flex-direction: column;
    margin-left: 208.5px;
    margin-right: 208.5px;
    gap: 30px;
    margin-top: 38px;
    margin-bottom: 38px;

article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    height: 52px;
    border-radius: 5px;
    color: $white-color;
}

p{
font-size: 24px;
font-weight: 700;
line-height: 34.22px;
text-align: left;
margin-left: 15px;

}
i{
    font-size: 32px;
    margin-right: 9px;
}
}