@import '../styles/utils/variables';
.values-container{
    display: flex;
    flex-direction: column;
    margin-left: 208.5px;
    margin-right: 208.5px;
    gap: 30px;
    margin-top: 38px;
    margin-bottom: 38px;

}